game_invite/__pycache__/games.cpython-37.pyc
game_invite/__pycache__/__init__.cpython-37.pyc
kcg/__pycache__/help_embed.cpython-37.pyc
tempCodeRunnerFile.py
kcg/tempCodeRunnerFile.py
__pycache__/darkglance.cpython-37.pyc
kcg/__pycache__/check.cpython-37.pyc
kcg/__pycache__/finddob.cpython-37.pyc
kcg/__pycache__/Student.cpython-37.pyc
logger/__pycache__/__init__.cpython-37.pyc
logger/__pycache__/logger.cpython-37.pyc
*.pyc
*.log